<!doctype html>
<html lang='en'>
  <head>
    <title>pic.management</title>
  </head>
  <body>
    <h1>Under construction</h1>
    <h3>Create a new account</h3>
    <form method='post'>
      <input type='text' name='email' placeholder='email' />
      <br />
      <input type='password' name='password' placeholder='password' />
      <br />
      <input type='password' name='password2' placeholder='repeat password' />
      <br />
      <button type='submit'>Login</button>
    </form>
  </body>
</html>
